div{
    background-color: mediumblue;
    width: 500px;
    height: 500px;
}
#rgba{
    width: 50%;
    height: 50%;
     /* only apply to the background-color */
    background-color: #00ffb348;
    /* a is between 0-1 */
    background-color: rgba(255, 255, 255, 0.5); 
    
}
#opacity{
    /* apply to all element inside the container */
    opacity: 0.33;
    width: 50%;
    height: 50%;
    background-color: lightcyan;
}