*{
    font-weight: 700;
}
.winner{
    color: green;
}
.loser{
    color: red;
}
.container{
    width:  60%;
    margin: 200px auto;
    padding: 30px 20px;
    box-sizing: border-box;
    box-shadow:  0px 0px 10px 3px lightgray;
   
}

h1{
    padding: 10px 20px;
    box-shadow:  0px 0px 10px 3px gray;
}

.displaygroup, .buttongroup{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.buttongroup{
    flex-direction: row;
    justify-content: space-evenly;
}
button{
    padding: 20px;
    width: 150px;
    transition: all 250ms;
    border:none;
    border-radius: 10px;
}
button:hover{
    cursor: pointer;
    color: white;
    border: none;
    transform: translateY(-5px);
    box-shadow: 0px 0px 5px 2px yellow;
}
#player1btn{
    background-color: lightblue;
}
#player2btn{
    background-color: lightcoral;
}
#resetbtn{
    background-color: lightgreen;
}

#player1btn:hover{
    background-color: rgb(96, 197, 230);
}
#player2btn:hover{
    background-color: rgb(238, 81, 81);
}
#resetbtn:hover{
    background-color: rgb(101, 238, 101);
}



@media (max-width :600px){
    .container{
        width: 95%;
        margin: 200px auto;
    }
}