*{
    font-weight: 700;
}
.winner{
    color: green;
}
.loser{
    color: red;
}
.container{
    width:  60%;
    margin: 200px auto;
    border: 2px grey solid;
    padding: 30px 20px;
}

h1{
    padding: 10px 20px;
    border: 5px solid grey;
    box-shadow: dimgray;
}

.displaygroup, .buttongroup{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.buttongroup{
    flex-direction: row;
    justify-content: space-around;
}
button{
    padding: 20px;
    width: 150px;
}
button:hover{
    cursor: pointer;
}
#player1btn{
    background-color: lightblue;
}
#player2btn{
    background-color: lightcoral;
}
#resetbtn{
    background-color: lightgreen;
}